.error {
    $root: &;

    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &__icon {
        width: 100px;
        height: 100px;
        background-image: url('../assets/images/error-cat.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__content {
        padding: 1rem;
        text-align: center;
    }

    &__title {
        margin-bottom: 1rem;
        color: $pale-text;
    }

    &__message {
        font-size: 1.2rem;
    }
}