.popup {
    $root: &;

    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #0004;
    position: relative;

    &-wrapper {
        position: fixed;

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        background-color: #0006;
        z-index: 10;
        display: none;

        &.active {
            display: flex;
        }
    }

    &-close {
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer;
    }

    @media (min-width: 768px) {
        padding: 30px;

        &-close {
            top: 10px;
            right: 10px;
        }
    }
}